<div class="row">
  <div class="col-md-6">
    <h3>May 4th</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>12:30</td>  <td>Help session if you had trouble with the setup instructions</td> </tr>
      <tr> <td>13:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:15</td>  <td>Automating Tasks with the Unix Shell (continued)</td> </tr> 
      <tr> <td>15:15</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Automating Tasks with the Unix Shell (continued)</td> </tr>
      <tr> <td>16:30</td>  <td>End</td> </tr>
    </table>
    <h3>May 11th</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Version Control with Git</td></tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:15</td>  <td>Version Control with Git (continued)</td> </tr> 
      <tr> <td>15:15</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Version Control with Git (continued)</td> </tr>
      <tr> <td>16:30</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>May 17th</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Datatypes and basics of Python</td> </tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:15</td>  <td>Datatypes and basics of Python (continued)</td> </tr>
      <tr> <td>15:15</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Using dataframes in Python</td> </tr>
      <tr> <td>16:30</td>  <td>End</td> </tr>
    </table>
    <h3>May 24th</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Lists, Loops and Functions in Python</td> </tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:15</td>  <td>Conditionals and Style</td></tr>
      <tr> <td>15:15</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Odds and ends</td> </tr>
      <tr> <td>16:30</td>  <td>End</td> </tr>
      <tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
